.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
}

.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}

.score-board {
  margin-top: 8px;
  font-size: 16pt;
  font-weight: bold;
}

.score-board span {
  display: inline-block;
  margin: 0 20px 0 10px;
}